# Hey! Nice to see you.

Welcome to my page!
I'm {{name}}, Front Web Developer from <img src="./assets/france.png" width="14" display='inline-block'> France. 
I've lived all over 
<img src="./assets/france.png" width="14" display='inline-block'> 
<img src="./assets/european union.png" width="14" display='inline-block'>
<img src="./assets/china.png" width="14" display='inline-block'> 
<img src="./assets/south korea.png" width="14" display='inline-block'> 
<img src="./assets/united states.png" width="14" display='inline-block'> 
<img src="./assets/united arab emirates.png" width="14" display='inline-block'> 
<img src="./assets/united nations.png" width="14" display='inline-block'>.
Currently moving from <b>China</b> to <b>France</b>.